<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

__Objectives:__

* List Data Science Tools and Ecosystems
* List Commonly Used Libraries
* Examples of Arithmetic Expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. Ruby
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. MatPlotlib
3. Keras

| Data Science Tools |
| ------------------ |
| JupyterLab |
| GoogleColab |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200 / 60

3.3333333333333335

## Author
Mark Fiore